.mainnotice{
    margin-left: 350px;
}
.btn{
    margin: 5px;
}
.card-notice{
    max-width: 900px;
}
.notice-viewmore{
    margin-top: 50px;
}
.stuviewnotice{
    margin-left: 268px;
}

.btn-stunotice{
    background-color: #17a2b8 !important;
    color: white;
}
