.stuatt-title{
    text-align: center;
    font-size: 20px;
    /* padding-left:15px ; */
    font-weight: 400;
    color:black;
  
}
.stuatt-text{
    font-size: 20px;
    font-weight: 600;
    color:rgb(10, 10, 97);
}

.stuatt{
    display: flex;
    padding-right: 50px;
    margin-left: 294px;
    /* margin-top: 90px; */
    /* padding-left:20px ; */
}
.stuatt-card{
    height: 134px;
}
.stuattdetail{
    margin-top: 20px;
}
