*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
 
}
    
section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.login_side img{
    width: 50%;
    height: 50%;
    max-width: 50%;
    padding:50px 5px ;
    margin-right: 30px;

}
.login_container{
    flex: 50%;
    margin-right: 30%;
    float: right;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_login{
    text-transform:capitalize;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}
.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form_control{
    width: 100%;
    position: relative;
    margin-bottom: 24px;

}


.login_form_btn {
    width: 50%;
    border: none;
    outline: none;
    margin-left: 25%;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
    background: rgb(120, 120, 195);
  }
@media screen and (max-width:320px) {
    section{
        display: block;
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .side img{
        width: 100%;
        max-width: 100%;

    }
}